.cue-container {
    grid-template-columns: 0.5fr 1.5fr 0.8fr 3fr 1.5fr 0.4fr 0.4fr 0.4fr 0.4fr 1fr; /* Adjust the fr units as needed */
    gap: 15px;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.duration-input {
    width: 60%;
}

.av-checkbox {
    transform: scale(0.7);
}
